.new-login-form {
    background: #ffffff none repeat scroll 0 0;
    
    border-radius: 5px;
    padding: 30px;
}


    .new-login-form h2 {
        background: #ffffff none repeat scroll 0 0;
        border-radius: 5px 5px 0 0;
        color: #000000;
        font-size: 19px;
        padding: 0px;
        font-size: 30px;
        margin-bottom: 25px;
    }

input[placeholder] {
    text-align: center;
}


.create-register-btn {
    background: #1bbc9b none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    height: 40px;
    line-height: 40px;
}

/*header .navbar-header a.navbar-brand {
    display: inline-block;
    float: none;
    margin: 0;
    border: none;
}

header .navbar-header {
    text-align: center;
    width: 100%;
}*/

.A-Forget-link {
    color: black;
}

    .A-Forget-link:hover {
        color: black;
    }
