@model Wempe.Models.PagedData<Wempe.wmpMenuMaster>
 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Appraiser</h2>
<div id="divList">
    @Html.Partial("PageList")
</div>
<!-- responsive -->
<div id="responsive" class="modal fade" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Manage Menu</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <h4>Menu</h4>
                <p>
                    <input id="txtName" class="form-control" type="text">
                </p>

            </div>
            <div class="col-md-6">
                <h4>Link Page</h4>
                <p>
                   @Html.DropDownList("pageData")
                </p>

            </div>
            </div>
         <div class="row">
               <div class="col-md-6">
                <h4>Page Name</h4>
                <p>
                       <input id="txtPageName" class="form-control" type="text">
                </p>

            </div>
              
            <div class="col-md-6">
                <h4>Active | Menu Index</h4>
                <p>
                    <input class="form-control" type="checkbox"  id="chkIsActive"> |   <input type="text" id="txtMenuIndex" />
                </p>
                
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal"  class="btn btn-default">Close</button>
        <button type="button" class="btn blue" onclick="Add();" >Save changes</button>
        <input type="hidden" id="hdnid" value="0" />
        <input type="hidden" id="hdnpid" value="0" />
    </div>
</div>


<!-- BEGIN PAGE LEVEL STYLES onclick="Add();"-->
<link href="~/Content/themes/admin/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css"/>
<link href="~/Content/themes/admin/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL STYLES -->
@section scripts{

<script src="~/Content/themes/admin/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="~/Content/themes/admin/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script src="~/Content/themes/admin/pages/scripts/ui-extended-modals.js"></script>

<script src="~/Scripts/adminJs/wmpMenu.js"></script>
    <script>
        jQuery(document).ready(function () {
            activemenu('eCommerce_Brands');
           
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features
            UIExtendedModals.init();
            //UIToastr.init();
        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function () {

           
            jQuery(".page-number").live("click", function () {
                
                getList(parseInt($(this).html()));
            });
        });

       
</script>
}


