
@{
    ViewBag.Title = "Errorwindow";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>An error in the application as occurred. Please logoff and try again. If problem continues, please contact your systems administrator.</h2>

