 
@{
    ViewBag.Title = "Not Authorized";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
  
}
<link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/kendo/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/kendo/kendo.default.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/kendo/jquery.min.js"></script>
<script src="~/Scripts/kendo/jszip.min.js"></script>
<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
<link href="~/Content/Dashboard.css" rel="stylesheet" />
 
 <h1>
     Your account profile does not have access to this page. If you beleive this is an error, please contact your systems administrator.
 </h1>