
@{
    ViewBag.Title = "Alert window";
    Layout = "~/Views/Shared/_PublicURLLayout.cshtml";
}

<h2>You profile is not linked with any Organization, Please logoff and try again. If problem continues, please contact your systems administrator.</h2>

