<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-grid"></i>Search Filters
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <table class="table table-striped table-bordered table-hover" id="datatable_Brands">
                        <thead>
                            <tr role="row" class="heading">
                                 <th width="20%">Brand Type
                                </th>
                                <th width="20%">Name
                                </th>
                                <th width="10%">Actions
                                </th>
                            </tr>
                            <tr role="row" class="filter">
                                <td>

                                      @Html.DropDownList("drpBrandItemSearch", (IEnumerable<SelectListItem>)ViewBag.Brand, "", new { @class = "form-control" })
                                    </td>
                                <td>
                                    <input type="text" class="form-control form-filter input-sm" id="txtSearchName">
                                </td>
                                <td>
                                    <div class="margin-bottom-5">
                                        <button class="btn btn-sm yellow filter-submit margin-bottom" onclick="getList(1);"><i class="fa fa-search"></i>Search</button>                                
                                        <a onclick="Edit(0);"> <button class="btn btn-sm green" ><i class="fa fa-check"></i>Add New</button></a>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <!-- End: life time stats -->


        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-grid"></i> Listing
                </div>
                <div class="tools">
                    <select id="ddlActiveAllList" class="form-control">
                        <option value="2">All</option>
                        <option value="1" selected="selected">Active</option>
                    </select>
                </div>
            </div>
            <div class="portlet-body">
                <input type="hidden" id="hdnPageNo" value="1" />
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover" id="sample_1">
                        <thead>
                            <tr>
                                <th class="sort" onclick="setSorting(this,'item',[0,1]);">Item
                                </th>
                                <th>Brand
                                </th>
                                <th onclick="setSorting(this,'LastUpdate',[0,1]);">Update date
                                </th>
                                <th onclick="setSorting(this,'UpdateBy',[0,1]);">Updated by
                                </th>
                                <th  onclick="setSorting(this,'IsActive',[0,1]);">Is Active
                                </th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyDetails">
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite"></div>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <div class="dataTables_paginate paging_simple_numbers" id="sample_1_paginate">
                            <ul class="pagination">
                                <li class="paginate_button previous" aria-controls="sample_1" tabindex="0" id="sample_1_previous"><a><i class="fa fa-angle-left"></i></a></li>
                                <li class="paginate_button next" aria-controls="sample_1" tabindex="0" id="sample_1_next"><a><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <script id="tbodyTemplate" type="text/html">
                    <tr>
                        <td>${item}
                        </td>
                          <td>${BrandName}
                        </td>
                        <td>${LastUpdate}
                        </td>
                        <td>${UpdateByUserName}
                        </td>
                        <td>${IsActive}
                        </td>
                        <td>
                            <a  onclick="Edit(${Id});" class="btn default btn-xs blue-stripe">Edit </a>
                        </td>
                    </tr>
                </script>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->
