<!DOCTYPE html>
<html>
<head>
    <meta name="google-site-verification" content="zyRw7CxzAUPg2RoX1Hc8besePcGOPaIhAfVrlWY-phQ" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EEO Now</title>   
</head>
<body style="background: #f2f3f4;">
    <div style="font-size:12px;">
        @RenderBody()
    </div>
    @RenderSection("scripts", false)
</body>
</html>
