
@{
    ViewBag.Title = "Error Screen";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>No data found, the application has no data to display. Please try again later. If problem continues contact your system administrator.</h2>

