<div class="modal fade" id="modelForgotUserName" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Get your user name on your email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="formForgotUserName" class="simple_form session">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email address" id="txtForgotUserNameEmail" message="Email is a required field." required />
                        <span class="required">*</span>
                    </div>
                    <div class="form-group">
                        <p style="color:red;">You will receive your username on your email address.</p>
                    </div>

                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnForgotUserNameLink"> Send me my usernamek</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





